@using sReportsV2.DTOs.DTOs.Autocomplete.DataOut;
@model List<AutocompleteOptionDataOut>

<input type="hidden" id="guidelineInstanceId" value="@ViewBag.GuidelineInstanceId" />
<input type="hidden" id="nodeId" value="@ViewBag.NodeId" />
<input type="hidden" id="digitalGuidelineId" value="@ViewBag.GuidelineId" />

<div class="content-container">
    <div class="forms-container guideline-content">
        <div class="title">
            Choose condition
        </div>

        <div class="forms-container-list" id="formConditionContainer">
            @await Html.PartialAsync("SelectOptionRows", Model)
        </div>
    </div>

</div>

<div class="button-container">
    <div class="cancel-button" onclick="closeGuidelineInstanceModal()">
        @sReportsV2.Cache.Resources.TextLanguage.Back
    </div>

    <div class="submit-button" onclick="saveCondition()">@sReportsV2.Cache.Resources.TextLanguage.Continue</div>
</div>
