@using System.Globalization
@using sReportsV2.Common.Enums;
@using sReportsV2.Common.Constants;
@using sReportsV2.Common.Extensions;
@using sReportsV2.DTOs.AdministrationApi.DataIn;

@{
    AdministrationApiFilterDataIn filter = ViewBag.FilterData as AdministrationApiFilterDataIn;
    string timeFrom = filter != null ? filter.RequestTimestampFrom.GetTimePart() : "";
    string timeTo = filter != null ? filter.RequestTimestampTo.GetTimePart() : "";
    string dateFrom = filter != null ? filter.RequestTimestampFrom.ToDateZoned(ViewBag.DateFormat as string) : "";
    string dateTo = filter != null ? filter.RequestTimestampTo.ToDateZoned(ViewBag.DateFormat as string) : "";
}

<form id="advancedFilterForm" name="AdvancedFilterForm" onsubmit="return false">
    <div class="modal fade" id="advancedFilterModal" tabindex="-1" role="dialog" aria-labelledby="advancedFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced">
                <div class="float-right filter-close-btn">
                    <img alt="" class="close-modal" src="/css/img/icons/close_black.svg">
                </div>

                <div class="modal-body modal-body-advanced" id="advancedFilterModalContent">
                    <div class="d-flex advanced-filter-header">
                        <img alt="" class="mr-3" src="/css/img/icons/advanced_filter.svg"> @sReportsV2.Cache.Resources.TextLanguage.Advanced_filter
                    </div>
                    <div class="d-flex">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.From
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                                    {
                                        InputAttributes = new Dictionary<object, object> {
                                            { "class", "date-helper d-inline-block border-0 date-width input-padding filter-input" },
                                            { "value", dateFrom },
                                            { "id", "dateFrom"},
                                            { "name", "dateFrom"}
                                        }
                                    })
                                    <input id="requestTimestampFrom" type="text" class="date-time-local d-none form-element-field filter-input" value="@(filter != null && filter.RequestTimestampFrom != null ? filter.RequestTimestampFrom.Value.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <!img class=" d-inline-block" src="/css/img/icons/datetime_field.svg" @Html.DateTimeDisabled(readOnly: false)>
                                    </div>
                                </div>
                                @await Html.PartialAsync("~/Views/Shared/TimeInput.cshtml", new sReportsV2.DTOs.Common.TimeInputDTO()
                               {
                                   InputAttributes = new Dictionary<object, object> {
                                    { "class", "time-helper d-inline-block border-0 input-padding filter-input w-90" },
                                    { "value", timeFrom },
                                    { "id", "timeFrom"},
                                    { "name", "timeFrom"}
                                    }
                               })
                            </div>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.To_
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                                    {
                                        InputAttributes = new Dictionary<object, object> {
                                            { "class", "date-helper d-inline-block border-0 date-width input-padding filter-input" },
                                            { "value", dateTo },
                                            { "id", "dateTo"},
                                            { "name", "dateTo"}
                                        }
                                    })
                                    <input id="requestTimestampTo" type="text" class="date-time-local d-none form-element-field filter-input" value="@(filter != null && filter.RequestTimestampTo != null ? filter.RequestTimestampTo.Value.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <!img class=" d-inline-block" src="/css/img/icons/datetime_field.svg" @Html.DateTimeDisabled(readOnly: false)>
                                    </div>
                                </div>
                                @await Html.PartialAsync("~/Views/Shared/TimeInput.cshtml", new sReportsV2.DTOs.Common.TimeInputDTO()
                               {
                                   InputAttributes = new Dictionary<object, object> {
                                    { "class", "time-helper d-inline-block border-0 input-padding filter-input w-90" },
                                    { "value", timeTo },
                                    { "id", "timeTo"},
                                    { "name", "timeTo"}
                                    }
                               })
                            </div>
                        </div>
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                Http Status Code
                            </div>
                            <select class="filter-input arrow-select" id="httpStatusCode">
                                <option value=""></option>
                                @foreach (KeyValuePair<short, string> option in ViewBag.HttpStatusCodes)
                                {
                                    <option id="HttpStatusCode_@option.Key" data-display="@option.Value" value="@option.Key" @(filter.HttpStatusCode == option.Key ? "selected" : "")>@option.Value</option>
                                }
                            </select>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                Api Request Direction
                            </div>
                            <select class="filter-input arrow-select" id="apiRequestDirection">
                                <option value=""></option>
                                @foreach (ApiRequestDirection option in Enum.GetValues(typeof(ApiRequestDirection)))
                                {
                                    int optionNum = (int)option;
                                    <option id="ApiRequestDirection_@optionNum" data-display="@option" value="@optionNum" @(filter.ApiRequestDirection == option ? "selected" : "")>@option</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                Contains
                            </div>
                            <input type="text" class="filter-input" id="requestContains" value="@(filter != null ? filter.RequestContains : "")">
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                Api Name
                            </div>
                            <input type="text" class="filter-input" id="apiName" value="@(filter != null ? filter.ApiName : "")">
                        </div>
                    </div>
                    <div class="d-flex margin-top-10">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                Screening Number
                            </div>
                            <input type="text" class="filter-input" id="screeningNumber" value="@(filter != null ? filter.ScreeningNumber : "")">
                        </div>
                        <div class="advanced-filter-item filter-item">
                            
                        </div>
                    </div>

                    <div class="advanced-filter-line">

                    </div>
                    <div class="d-flex mt-3 position-relative margin-top-20">
                        <div class="button-wrapper-filter filter-button float-right" id="submitFilterButton">
                            <button class="btn btn-filter-primary w-100 h-100" onclick="advanceFilter()"> @sReportsV2.Cache.Resources.TextLanguage.Filter</button>
                        </div>
                        <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                            <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                @sReportsV2.Cache.Resources.TextLanguage.Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

