@using System.Globalization
@using sReportsV2.DTOs.CodeEntry.DataOut;
@using sReportsV2.DTOs.Common.DTO;
@using sReportsV2.Common.Extensions;
@using sReportsV2.Common.Enums;
@model List<CommunicationDTO>
@{
    string activeLanguage = ViewBag.UserCookieData.ActiveLanguage;
    List<CodeDataOut> languages = ViewBag.PatientLanguages as List<CodeDataOut>;
}

@foreach (CommunicationDTO entry in Model)
{
    <div class="preferred-language-group preferred-language-text @(entry.Preferred ? "selected-pref-lang" : "")">
        <span class="radio-space">
            <input data-id="@entry.Id" type="radio" name="radioPreferredLanguage" value="@entry.LanguageCD" class="form-radio-field" @ViewBag.Disabled data-no-color-change="true" @(entry.Preferred ? "checked" : "")>
        </span>
        <span>@entry.ConvertLanguageCDToDisplayName(languages, activeLanguage)</span>
        @if (entry.Preferred)
        {
            <span class="preferred-text-class"> (@sReportsV2.Cache.Resources.TextLanguage.Preferred)</span>
        }
    </div>
}