@using System.Globalization
@using sReportsV2.Common.Extensions;
@using sReportsV2.Common.Constants;
@using sReportsV2.DTOs.DigitalGuideline.DataIn;

@{
    GuidelineFilterDataIn filter = ViewBag.FilterData as GuidelineFilterDataIn;
    string timeFrom = filter != null ? filter.DateTimeFrom.GetTimePart() : "";
    string timeTo = filter != null ? filter.DateTimeTo.GetTimePart() : "";
    string dateFrom = filter != null ? filter.DateTimeFrom.GetDateTimeDisplay(ViewBag.DateFormat as string, excludeTimePart: true) : "";
    string dateTo = filter != null ? filter.DateTimeTo.GetDateTimeDisplay(ViewBag.DateFormat as string, excludeTimePart: true) : "";
}

<form id="advancedFilterForm" name="AdvancedFilterForm" onsubmit="return false">
    <div class="modal fade" id="advancedFilterModal" role="dialog" aria-labelledby="advancedFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-content-advanced digital-guidelines-content">
                <div class="float-right filter-close-btn">
                    <img alt="" class="close-modal" src="/css/img/icons/close_black.svg">
                </div>
                <div class="modal-body modal-body-advanced" id="advancedFilterModalContent">
                    <div class="d-flex advanced-filter-header">
                        <img alt="" class="mr-3" src="/css/img/icons/advanced_filter.svg">@sReportsV2.Cache.Resources.TextLanguage.Advanced_filter
                    </div>
                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.Title
                            </div>
                            <input type="text" class="filter-input" id="title" value="@(filter!= null ? filter.Title : "")">
                        </div>
                        <div class="advanced-filter-item filter-item d-flex">
                            <div class="w-50 mr-1">
                                <div class="label filter-label">
                                    @sReportsV2.Cache.Resources.TextLanguage.Major
                                </div>
                                <input type="text" class="filter-input" id="major" value="@(filter!= null ? filter.Major : "")">
                            </div>
                            <div class="w-50 ml-1">
                                <div class="label filter-label">
                                    @sReportsV2.Cache.Resources.TextLanguage.Minor
                                </div>
                                <input type="text" class="filter-input" id="minor" value="@(filter!= null ? filter.Minor : "")">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex margin-top-20">
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.From
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                               {
                                   InputAttributes = new Dictionary<object, object> {
                                            { "class", "date-helper d-inline-block border-0 date-width input-padding filter-input" },
                                            { "value", dateFrom },
                                            { "id", "dateFrom"},
                                            { "name", "dateFrom"}
                                        }
                               })
                                    <input id="dateTimeFrom" type="text" class="date-time-local d-none form-element-field filter-input" value="@(filter != null && filter.DateTimeFrom != null ? filter.DateTimeFrom.Value.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <!img class=" d-inline-block" src="/css/img/icons/datetime_field.svg" @Html.DateTimeDisabled(readOnly: false)>
                                    </div>
                                </div>
                                @await Html.PartialAsync("~/Views/Shared/TimeInput.cshtml", new sReportsV2.DTOs.Common.TimeInputDTO()
                                {
                                    InputAttributes = new Dictionary<object, object> {
                                        { "class", "time-helper d-inline-block border-0 input-padding filter-input w-90" },
                                        { "value", timeFrom },
                                        { "id", "timeFrom"},
                                        { "name", "timeFrom"}
                                    }
                                })
                            </div>
                        </div>
                        <div class="advanced-filter-item filter-item">
                            <div class="label filter-label">
                                @sReportsV2.Cache.Resources.TextLanguage.To_
                            </div>
                            <div class="filter-date-time datetime-picker-container">
                                <div class="date-wrapper input-border mr-auto w-60 d-flex">
                                    @await Html.PartialAsync("~/Views/Shared/DateInput.cshtml", new sReportsV2.DTOs.Common.DateInputDTO()
                                    {
                                        InputAttributes = new Dictionary<object, object> { 
                                            { "class", "date-helper d-inline-block border-0 date-width input-padding filter-input" }, 
                                            { "value", dateTo },
                                            { "id", "dateTo"},
                                            { "name", "dateTo"}
                                        }
                                    })
                                    <input id="dateTimeTo" type="text" class="date-time-local d-none form-element-field filter-input" value="@(filter != null && filter.DateTimeTo != null ? filter.DateTimeTo.Value.ToString("s") : "")" />
                                    <div class="img-wrapper">
                                        <!img class=" d-inline-block" src="/css/img/icons/datetime_field.svg" @Html.DateTimeDisabled(readOnly: false)>
                                    </div>
                                </div>
                                @await Html.PartialAsync("~/Views/Shared/TimeInput.cshtml", new sReportsV2.DTOs.Common.TimeInputDTO()
                               {
                                   InputAttributes = new Dictionary<object, object> {
                                    { "class", "time-helper d-inline-block border-0 input-padding filter-input w-90" },
                                    { "value", timeTo },
                                    { "id", "timeTo"},
                                    { "name", "timeTo"}
                                    }
                               })
                            </div>
                        </div>
                    </div>

                    <div class="advanced-filter-line"></div>
                    <div class="d-flex mt-3 position-relative margin-top-10">
                        <div class="button-wrapper-filter filter-button" id="submitFilterButton">
                            <button class="btn btn-filter-primary w-100 h-100" onclick="advanceFilter()"> @sReportsV2.Cache.Resources.TextLanguage.Filter</button>
                        </div>
                        <div class="button-wrapper-filter cancel-filter-btn float-right" id="close">
                            <a class="btn advanced-cancel" data-dismiss="modal" aria-label="Close">
                                @sReportsV2.Cache.Resources.TextLanguage.Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>