@using sReportsV2.Common.Helpers
@using sReportsV2.DTOs.DigitalGuideline.DataOut;
@model GuidelineDataOut

@section Scripts
{
    @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/cytoscape-3.15.2/cytoscape.min.js"), "", ""))
}

@section Stylesheet
{
    @ScriptHelper.RenderStylesheet(Url.Content("/js/libs/jsoneditor-6.2.1/dist/jsoneditor.min.css"), "", "")
    @ScriptHelper.RenderStylesheet(Url.Content("/css/digital-guideline.css"), "", "")
}

@{
    ViewBag.Title = "Digital guideline";
}

<form class="guidline-page">
    <input type="hidden" id="guidelineId" name="id" value="@(Model != null ? Model.Id : "")" />
    <input class="form-control" id="lastUpdate" name="LastUpdate" value="@(Model != null && Model.LastUpdate != null ? Model.LastUpdate.Value.ToString("o") : "")" type="hidden" />

    <div class="guideline-container">
        <div class="guideline-sidebar json-collapsed" id="guidelineSidebar" hidden>
            <div id="jsoneditorCode" class="guideline-sidebar-element json-editor"></div>
            <div class="update-graph">
                <button type="button" class="btn btn-filter-primary update-guideline">@sReportsV2.Cache.Resources.TextLanguage.Update_graph</button>
            </div>
        </div>

        <div class="canvas-group">
            <button  type="button" id="toggleSidebar" class="toggle-sidebar-btn">
                <img alt="" src="/css/img/icons/ClinicalPathway/show more button.svg" />
            </button>

            @await Html.PartialAsync("~/Views/DigitalGuideline/DigitalGuidelineGraph.cshtml")
            @await Html.PartialAsync("~/Views/DigitalGuideline/ThesaurusModal.cshtml")
            @await Html.PartialAsync("~/Views/DigitalGuideline/VersionModal.cshtml")
            @await Html.PartialAsync("~/Views/DigitalGuideline/ExportMenuModal.cshtml")
            @await Html.PartialAsync("~/Views/DigitalGuideline/CommandsModal.cshtml")
        </div>
    </div>
</form>

@Html.Raw(ScriptHelper.RenderBundle("js/digitalGuideline-bundle.min.js"))