@using sReportsV2.Common.Extensions;
@using sReportsV2.Common.Helpers
<!DOCTYPE html>
<html>
    <head>
        @ScriptHelper.RenderHeadMetadata()
        <title>@ViewBag.Title - @sReportsV2.Common.Constants.ResourceTypes.SoftwareName by weMedoo</title>
        @ScriptHelper.RenderStylesheet(Url.Content("/css/libs/font-awesome-5.15.4/css/all.min.css"))
        @ScriptHelper.RenderStylesheet(Url.Content("/js/libs/select2-4.0.10/dist/css/select2.min.css"))
        @ScriptHelper.RenderStylesheet(Url.Content("/css/libs/jquery-timepicker-1.3.5/jquery.timepicker.min.css"))
        @Html.Raw(ScriptHelper.RenderBundle("css/styles.min.css"))
        @RenderSection("Stylesheet", false)
        @Html.Raw(ScriptHelper.RenderBundle("js/jquery-bundle.min.js"))
        @RenderSection("Scripts", false)
    </head>
    @{ 
        var userCookieData = ViewBag.UserCookieData;
        bool isDateCaptureMode = ViewBag.IsDateCaptureMode;
        bool readOnly = ViewBag.ReadOnly;
    }

    <body class="sidebar-shrink">
        <div class="d-none">Environment(@ViewBag.Env)</div>
        <img alt="" id="notFound" src="/css/img/icons/no_results.svg" hidden>
        <img alt="" id="deleteIcon" src="/css/img/icons/remove.svg" hidden>
        <img alt="" id="editIcon" src="/css/img/icons/edit.svg" hidden>
        @await Html.PartialAsync(isDateCaptureMode ? "HeaderForDataCaptureMode" : "Header")

        <div class="container-fluid" id="containerFluid">
            <div class="row">
                <div class="col-12 pr-0">
                    @await Html.PartialAsync(isDateCaptureMode ? "SidebarForDataCaptureMode" : "Sidebar")

                    <main role="main" class="main-content">
                        @RenderBody()
                    </main>
                    <div id="loaderOverlay" class="loader-overlay">
                        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("DeleteModal")

        <script>
            var noResultFound = '@sReportsV2.Cache.Resources.TextLanguage.NoResultFound';
            var deleteItem = '@sReportsV2.Cache.Resources.TextLanguage.Delete';
            var editItem = '@sReportsV2.Cache.Resources.TextLanguage.Edit';
            var userPageSize = '@(userCookieData != null ? userCookieData.PageSize : 5)';
            var simplifiedApp;
            var df = '@ViewBag.DateFormatClient';
            var dateFormatDisplay = '@ViewBag.DateFormatDisplay';
            var timeFormatDisplay = '@ViewBag.TimeFormatDisplay';
            var readOnlyViewModeViewBag = @readOnly.ToJsBoolean();
            var organizationTimeZoneOffset = '@userCookieData.OrganizationTimeZoneIana';
            var userTimeZoneOffset = '@userCookieData.GetUserTimeZoneIana()';
        </script>

        @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/select2-4.0.10/dist/js/select2.min.js"), "", ""))
        @Html.Raw(ScriptHelper.RenderScript(Url.Content("~/js/libs/jquery-timepicker-1.3.5/jquery.timepicker.min.js"), "", ""))
    </body>
</html>