
@{
    int startVal = Model.DataIn.Page - 2;
    int endVal = Model.DataIn.Page + 2;
    int totalPages = (int)Math.Ceiling((double)Model.Count / Model.DataIn.PageSize);
    bool preventPushHistoryState = ViewBag.PreventPushHistoryState ?? false;
    IList<int> pageSizes = new List<int> { 5, 10, 15, 20, 50, 100 };
    //Customize Pagination
    bool showPageSizeSelector = ViewBag.ShowPageSizeSelector ?? true;
    string customChangePageJSFunc = !string.IsNullOrWhiteSpace(ViewBag.CustomChangePageJSFunc) ? ViewBag.CustomChangePageJSFunc : null;

    if (Model.DataIn.Page < 3)
    {
        startVal = 1;
    }
    if (endVal > totalPages)
    {
        endVal = totalPages;
    }

}
@if (showPageSizeSelector)
{
    <select id="pageSizeSelector" class="pageSizeSelector" data-container="@ViewBag.Container" data-no-color-change="true">
        @foreach (int pageSize in pageSizes)
        {
            <option value="@pageSize" @(Model.DataIn.PageSize == pageSize ? "selected" : "")>@pageSize</option>
        }
    </select>
}

@if (!string.IsNullOrWhiteSpace(customChangePageJSFunc))
{
    <ul class="pagination">
        <li><a class="pagination-item @(Model.DataIn.Page == 1 ? "disabled" : "")" href="#" @if (Model.DataIn.Page != 1)
            {
                <text> onclick="@(customChangePageJSFunc)(@Model.DataIn.Page - 1, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState ? "true" : null))" </text>
            }><img alt="" class="angle-size" src="/css/img/icons/left-angle.png"></a>
        </li>
        <li><a class="pagination-item" href="#" onclick="@(customChangePageJSFunc)(1, event, '@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))"><img alt="" class="double-angle-size" src="/css/img/icons/double-left.png"></a></li>

        @for (var i = startVal; i <= endVal; i++)
        {
            <li class="page-item @(i == Model.DataIn.Page ? "active" : "")">
                <a class="pagination-item pagination-item-num" onclick="@(customChangePageJSFunc)(@i, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))">@i</a>
            </li>
        }
        <li><a class="pagination-item" href="#" onclick="@(customChangePageJSFunc)(@totalPages, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))"><img alt="" class="double-angle-size" src="/css/img/icons/double-right.png"></a></li>

        <li><a class="pagination-item @((Model.DataIn.Page == totalPages) ? "disabled" : "")" href="#" @if (Model.DataIn.Page != totalPages)
            {
                <text> onclick="@(customChangePageJSFunc)(@Model.DataIn.Page+1, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState ? "true" : null))" </text>
            }><img alt="" class="angle-size" src="/css/img/icons/right-angle.png"></a>
        </li>
    </ul>

}
else
{
    <ul class="pagination">
        <li><a class="pagination-item @(Model.DataIn.Page == 1 ? "disabled" : "")" href="#" @if (Model.DataIn.Page != 1)
            {
                <text> onclick="changePage(@Model.DataIn.Page-1, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState ? "true" : null))" </text>
            }><img alt="" class="angle-size" src="/css/img/icons/left-angle.png"></a>
        </li>
        <li><a class="pagination-item" href="#" onclick="changePage(1, event, '@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))"><img alt="" class="double-angle-size" src="/css/img/icons/double-left.png"></a></li>

        @for (var i = startVal; i <= endVal; i++)
        {
            <li class="page-item @(i == Model.DataIn.Page ? "active" : "")">
                <a class="pagination-item pagination-item-num" onclick="changePage(@i, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))">@i</a>
            </li>
        }
        <li><a class="pagination-item" href="#" onclick="changePage(@totalPages, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState? "true" : null))"><img alt="" class="double-angle-size" src="/css/img/icons/double-right.png"></a></li>

        <li><a class="pagination-item @((Model.DataIn.Page == totalPages) ? "disabled" : "")" href="#" @if (Model.DataIn.Page != totalPages)
            {
                <text> onclick="changePage(@Model.DataIn.Page+1, event,'@ViewBag.Url', '@ViewBag.Container','@ViewBag.PageNumIdentifier', @(preventPushHistoryState ? "true" : null))" </text>
            }><img alt="" class="angle-size" src="/css/img/icons/right-angle.png"></a>
        </li>
    </ul>

}

